:root {
  --share-container-width: 38rem;
}

.share-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

#shareOverlayWrapper {
  position: relative;
  background: white;
  border-radius: 14px;
  width: var(--share-container-width);
}

#shareOverlayWrapper > #shareModalMobileClose {
  position: absolute;
  top: -4rem;
  right: 1rem;
  z-index: var(--overlay-z-index);

  background: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;

  display: none;
  justify-content: center;
  align-items: center;
}

main.share_container div:first-child,
main.share_container div:last-child {
  padding: 20px;
}

main.share_container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px !important;

  border-bottom-width: 0px;
  height: auto !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main.share_container h1 {
  color: black;
}

main.share_container .header h1 {
  font-size: 28px;
  font-weight: 600;
}

main.share_container h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}

main.share_container .header button {
  width: 40px;
  height: 40px;
  background: #f4f4f4;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

main.share_container .header button:hover {
  background: #e3e3e3;
}

main.share_container .share_options {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  padding: 10px 0;
  color: #363853;
  font-size: 14px;
}

main.share_container .share_options button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

main.share_container .clipboard {
  background: #f4f4f4;
  padding: 10px 15px !important;
  border-radius: 10px;
  color: #3638538e;
  display: flex;
  justify-content: space-between;
}

main.share_container .clipboard .text-to-copy {
  padding: 0px !important;
  user-select: none;
}

@media screen and (max-width: 667px) {
  #shareOverlayWrapper {
    align-self: flex-end;
    width: 100%;
    border-radius: 14px 14px 0 0;
  }

  #shareOverlayWrapper > #shareModalMobileClose {
    display: flex;
  }

  /* Share Modal */
  main.share_container div:first-child,
  main.share_container div:last-child {
    padding: 20px;
  }

  main.share_container .header {
    border-bottom-width: 1px;
    justify-content: center;
  }

  main.share_container .header .cancel-modal {
    display: none;
  }

  main.share_container .header h1 {
    font-size: 24px;
  }

  main.share_container .share_options {
    padding: 20px;
    gap: 30px;
  }
}
