.convert_file {
  width: 35rem;
}

.convert_file > div {
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 100%;
}

.convert_format button {
  width: 4.8rem;
  height: 4.8rem;
  padding: 7px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  transition: none;
}

.convert_format button:focus,
.convert_format button.selected {
  border: 2px solid #8837e9;
}

.convert_file .start_converting {
  flex-direction: column;
  gap: 0.5rem;
}

.convert_file .start_converting h2 span {
  color: #f15642;
}

.convert_file .start_converting h2 {
  color: #000000;
  font-size: 1.7rem;
}

.convert_file .start_converting p {
  color: #667085;
  font-size: 0.7rem;
  font-weight: 400;
}

.convert_file .start_converting button {
  width: 20rem;
  background: #1c64f2;
  border-radius: 14px;

  margin-top: 20px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 1rem;
}

.converting_progress_container {
  height: 1rem;
  border-radius: 20px;
  overflow: hidden;
  background: #f3f4f6;
  width: 100%;

  font-size: 13px;
}

.converting_increasing_bg {
  height: 100%;
  width: 0%;
  background: #1c64f2;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  transition: width 0.4s ease;
}

@media screen and (max-width: 667px) {
  .convert_file {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}
