.matching_modal {
  width: 75vw;
  height: 94vh;
  background: #ffff;
  border-radius: 10px;
  padding: 1rem;
}

.slick-list,
.slick-track {
  height: 100% !important;
}

.matching_modal header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 1rem;
}

.matching_modal header .heading div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.matching_modal header .heading h2 {
  font-size: 1.5rem;
}

.matching_modal header #close_matching--modal {
  border-radius: 100%;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #7e869e44;
}

.matching_modal header .sub_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matching_tab_holder {
  height: 3rem;
  width: 23.2rem;
  background: #f3f3f3;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.matching_tab_holder > div {
  width: 100%;
  height: 100%;
}

.matching_slider_holder {
  background: var(--light-gray-color);
  position: absolute;
  padding: 6px;
  border-radius: 30px;
  overflow: hidden;
}

.matching_slider_holder--slider {
  height: 100%;
  width: 33.33%;
  background: #e9e7e7;
  transition: transform 0.3s ease;
  transform: translateX(0%);

  border-radius: 30px;
  overflow: hidden;
}

.matching_buttons_holder {
  height: 100%;
  position: absolute;

  display: flex;
  align-items: center;
}

.matching_buttons_holder button {
  height: 100%;
  width: 100%;
  color: var(--light-primary-text-color);
  font-weight: 500;
}

.matching_modal header .right_hand,
.matching_modal header #edit_entries--2,
.matching_modal header #edit_entries--1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.matches_found {
  color: var(--color-blue);
  font-size: 1.4rem;
  font-weight: 600;
}

.matching_modal header #edit_entries--2,
.matching_modal header #edit_entries--1 {
  background: #000000;
  padding: 3px 8px;
  border-radius: 20px;
  color: white;
  gap: 2px;
  font-size: 0.7rem;
}

#main_matching {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 15px;
  transition: all 0.4s ease;
}

#main_matching > div {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;

  transition: width 0.3s ease;
}

.matching_lists {
  width: 30%;
  height: 82%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.matching_lists form {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f3f3f3;
  border-radius: 8px;
  padding: 5px 10px;
}

.matching_lists form input {
  width: 100%;
  height: 27px;
}

.matching_lists ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.matching_lists {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

#matching_list_wrapper {
  min-height: 70px;
  max-height: 70px;
  border-radius: 8px;
}

#matching_list_wrapper:hover {
  background: #f6f6f6;
}

#matching_list_wrapper.active {
  background: #f6f6f6;
}

.matching_list {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.4s ease;
  border-radius: 8px;
  padding: 10px;

  position: relative;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
}

.matching_list::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, #ffffff00, #ffffff);
}

#matching_list--dot {
  min-width: 10px;
  min-height: 10px;
  border-radius: 100%;
  background: #1c64f2;
  border: 2px solid #ffffff;
}

.matching_list h2 {
  font-weight: 500;
  font-size: 0.8rem;
}

.matching_list a {
  color: #1c64f2;
  font-size: 12px;
}

.matching_list .content > div:first-child {
  display: inline-flex;
  align-items: center;
}

.matching_list_image--wrapper {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 100%;
}

.matching_list_image--wrapper img {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.matching_list_image--wrapper .online {
  position: absolute;
  bottom: 1px;
  right: 1px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 100%;
  background: #12b76a;
  border: 2px solid #ffffff;
}

.matching_list .content > div {
  display: flex;
  gap: 8px;
}

.matching_list .content > div:last-child {
  width: 100%;
  color: #8f9099;
  font-size: 0.8rem;
  margin-top: 4px;
}

.matching_list a {
  color: #1c64f2;
}

.matching_list h2 a {
  color: #000000;
  font-size: 12px;
}

/* Matching Overviews */
.matching_overviews {
  width: 70%;
  height: 82%;

  display: flex;
  gap: 1rem;
}

.matching_overviews > div {
  transition: width 0.3s ease;
}

.matching_overviews > div:first-child {
  width: 60%;
  height: 100%;
}

.matching_overviews > div:last-child {
  width: 40%;
}

/* Interests */
#user_interests {
  height: initial;
}

#user_interests h2 {
  font-size: 0.9rem;
  padding-bottom: 0.7rem;
}

.task_category .categories {
  display: inline;
}

.task_category .categories > .category {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #cacaca6f;
  border-radius: 25px;
  margin-right: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  word-break: break-all;
  font-size: 0.8rem;
}

/* Slider Design */
.match_slider {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.match_slider .btns {
  width: 100%;
  padding: 0.6rem 0;

  display: flex;
  align-items: center;
  gap: 10px;
}

.match_slider .btns button {
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 0.3rem;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 0.9rem;
  font-weight: 500;
}

.match_slider .btns button:nth-child(n + 3) {
  display: none;
}

.match_slides {
  height: 90%;
  width: 100%;

  display: flex;
  position: relative;
}

.match_slides > div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.match_slide {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.match_slide,
.match_slide .main_image {
  width: 100%;
  height: 100%;
}

.card-content {
  position: absolute;
  bottom: 0;

  padding: 0 2rem;
  padding-bottom: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.card-content .status {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;

  background: #12b76a5d;
  border-radius: 20px;
  padding: 3px 10px;
}

.card-content .status span:first-child {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #12b76a;
}

.card-content h1 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 600;
}

.card-content .description {
  font-size: 0.9rem;
  text-align: center;

  margin: 0;
  max-height: 4rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2rem;

  margin-bottom: 10px;
}

.card-content .action {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card-content .action button {
  width: 100%;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: initial;
  line-height: normal;
  text-transform: capitalize;
}

.card-content .action button.follow {
  background: #1c64f2;
}

.card-content .action button.visit_profile {
  background: #201d1d;
  border: 1px solid #444954;
}

/* Button splash background */

.btns button {
  position: relative;
  overflow: hidden;
}

.splash {
  position: absolute;
  background: rgba(181, 181, 181, 0.402);
  border-radius: 50%;
  transform: scale(0);
  animation: splashAnimation 0.6s linear;
  pointer-events: none;
}

@keyframes splashAnimation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.tablet_matching_slider,
.matching_modal header .heading div.tablet_entry_container {
  display: none;
}

#mobile_interests,
.matching_overviews > div:last-child .button_wrapper {
  display: none;
}

.matching_overviews #user_interests {
  font-size: 14px;
  font-weight: 600;
  color: #344054;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: initial;
}

.matches_found--mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  #main_matching {
    flex-direction: column-reverse;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    height: 35rem;
  }

  #main_matching > div {
    transition: all 0.4s ease;
    width: 100%;
  }

  #main_matching .matching_overviews {
    min-height: 30rem;
  }

  .matching_modal header .sub_heading {
    display: none;
  }

  .matching_lists {
    height: 20rem;
    overflow-y: initial;
  }

  .matching_modal header > div {
    padding-bottom: 0.5rem;
  }

  .matching_modal header #close_matching--modal {
    display: none !important;
  }

  .matches_found {
    font-size: 1.1rem;
  }

  .tablet_matching_slider {
    display: block;
  }

  .matching_tab_holder {
    height: 10rem;
  }

  .matching_modal header .heading div.tablet_entry_container {
    display: flex;
  }
}

@media screen and (max-width: 667px) {
  .matching_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0;
    border-radius: 0;
  }

  .matching_modal > header {
    display: none;
  }

  #main_matching {
    flex-direction: initial;
    overflow-y: initial;
    height: 100%;
    border: 0;
    padding: 0;
  }

  #main_matching .matching_overviews {
    min-height: auto;
    height: 100%;
    padding: 0;
    border: 0;
  }

  .match_slider .btns {
    position: absolute;
  }

  .match_slides {
    height: 100%;
  }

  .match_slide {
    overflow: initial;
  }

  .match_slider .btns button {
    border: 1px solid var(--border-color);
    padding: 0.3rem;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.9rem;
    font-weight: 500;

    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
  }

  .match_slider .btns button:nth-child(n + 3) {
    display: block;
    top: 4%;
  }

  .match_slider .btns button.slider_btn--left {
    left: 10px;
  }

  .match_slider .btns button.slider_btn--right {
    right: 10px;
  }

  .match_slider .btns button.slider_btn--left svg path,
  .match_slider .btns button.slider_btn--right svg path {
    stroke: white;
    fill: white;
  }

  .match_slider .btns button span {
    display: none;
  }

  .match_slider .btns #close_matching_mobile--btn {
    left: 50%;
    background: #7e869e85;
    border: none;
  }

  .match_slider .btns #show_matching_entries_mobile--btn {
    left: 10px;
  }

  .match_slider .btns #matches_count_matching_mobile--btn {
    right: 10px;
  }

  .match_slider .btns #matches_count_matching_mobile--btn {
    display: block;
    font-size: 0.9rem;
    color: white;
  }

  /*
  
  
  */

  .matching_overviews > div:first-child {
    width: 100%;
  }

  #main_matching .matching_lists {
    position: fixed;
    top: 1.5rem;
    left: 0;
    width: 100%;
    background: white;
    height: 100%;
    z-index: 3000000;

    display: none;
  }

  .matching_tab_holder {
    height: 3rem;
    width: 100%;
    margin-bottom: 0.7rem;
  }

  .matches_found {
    width: 100%;
    text-align: center;
    padding-bottom: 0.7rem;
  }

  .matching_lists form {
    margin-bottom: 0.7rem;
  }

  .matching_lists ul {
    height: 73%;
  }

  .card-content {
    padding: 0 1rem;
    padding-bottom: 0.7rem;
    width: 100%;
  }

  #mobile_interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #mobile_interests h4 {
    font-weight: 600;
    font-size: 1.2rem;
  }

  #mobile_interests ul {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 1rem;
  }

  #mobile_interests ul li {
    display: inline-flex;
    border: 1px solid #636363;
    background-color: #201d1d;
    padding: 3px 13px;
    border-radius: 20px;
    font-size: 0.9rem;
  }

  #mobile_interests ul li:nth-child(1) {
    color: #0089ff;
  }

  #mobile_interests ul li:nth-child(2) {
    color: #ff3d00;
  }

  #mobile_interests ul li:nth-child(3) {
    color: #00ff47;
  }

  #mobile_interests ul li:nth-child(4) {
    color: #848484;
  }

  .matching_overviews > div:last-child {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: initial;

    background: white;
    border-radius: 10px 10px 0 0;

    animation: MobileInterests 0.3s ease;
  }

  @keyframes MobileInterests {
    from {
      transform: translateY(-10px);
      opacity: 0.8;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .matching_overviews > div:last-child .button_wrapper {
    display: block;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #f4f4f4;
  }

  .matching_overviews > div:last-child .button_wrapper button {
    width: 100%;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 15px;

    transition: all 0.3s ease;
  }

  .button_wrapper button:hover {
    background: #dcdcdc;
  }

  .matching_overviews #user_interests {
    padding: 0.8rem;
  }

  #user_interests h2 {
    text-align: center;
    font-size: 1.4rem;
  }

  .task_category .categories > .category {
    font-size: 1rem;
  }

  .matching_overviews #matchingInterestsWrapper[aria-hidden="false"] {
    display: block;
  }

  .matching_overviews #matchingInterestsWrapper[aria-hidden="true"] {
    display: none;
  }

  .matching_lists {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .matching_lists.active {
    display: block !important;
    z-index: 99999999;
    animation: MobileInterests 0.3s ease;
  }

  .matches_found--mobile {
    display: block;
  }
}
